<!DOCTYPE HTML>
<html>
    <header>
        <meta charset="utf-8">
        <title>Some Website</title>
    </header>
    <body>
        {{> header}}
        <p>Portfolio page here</p>
        {{> footer}}
    </body>
</html>